<br /><div class="container">
		<center><div class="col-md-2 col-md-offset-3 menured" data-ng-click="source()">
	 		<span>Source</span>
		</div>
		<div class="col-md-2 menublue" data-ng-click="budget()">
	 		<span>Budget</span>
		</div>
		<div class="col-md-2 menuyellow" data-ng-click="expenditures()">
	 		<span>Monitor</span>
		</div>
	</div></center><br /><br />

	<div class="container">
	<!--  Widget Stats -->
	<div class="col-md-12">
        <div class="tabs_framed styled widget-stats">
            <div class="tab-content boxed clearfix chartwrapcopy">
                <div class="tab-pane fade in active" id="2013" style="padding:10px;color:white;margin-bottom: 30px;">

             		<div class="col-md-2" style="background:#333;height:200px;-webkit-border-radius:5px;margin-left: 20px;
	-moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);">
             			<center>2013 Appropriations <br /><br /><hr> 11, 516,574</center>
             		</div>
             		<div class="col-md-2" style="background:#333;height:200px;-webkit-border-radius:5px;margin-left: 20px;
	-moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);">
             			<center>2013 Allotment <br /><br /><hr> 11,195,617</center>
             		</div>
             		<div class="col-md-2" style="background:#333;height:200px;-webkit-border-radius:5px;margin-left: 20px;
	-moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);">
             			<center>2013 Obligation Incurred <br /><hr> 1,768,263</center>
             		</div>
             		<div class="col-md-2" style="background:#333;height:200px;-webkit-border-radius:5px;margin-left: 20px;
	-moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);">
             			<center>2013 Unobligated Balances <br /><hr> 9,427,354</center>
             		</div>
             		<div class="col-md-2" style="background:#333;height:200px;-webkit-border-radius:5px;margin-left: 20px;
	-moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);">
             			<center>2013 Obligation Rate% <br /><br /><hr> 15%</center>
             		</div>
             		<div class="col-md-12" style="color:white;">space</div>
                </div><br /><br />
                
            </div>
        </div>
    </div>
</div>
