<br /><div class="container">
		<center><div class="col-md-2 col-md-offset-3 menured" data-ng-click="source()">
	 		<span>Source</span>
		</div>
		<div class="col-md-2 menublue" data-ng-click="budget()">
	 		<span>Budget</span>
		</div>
		<div class="col-md-2 menuyellow" data-ng-click="expenditures()">
	 		<span>Monitor</span>
		</div>
	</div></center>
<div id="expenditures" data-ng-hide="expenditures">
	<div  class="container" style="margin-bottom:10px;">
		<br /><br />
	<div class="container">
       	<div class="col-md-6 col-md-offset-3 boxed-yellow" data-ng-click="dept()">
       		<center><img src="images/general.png"/ width="100px"></center>
	 		<span>General Public Services</span>
		</div>

	</div>
	<br />
	
	<div class="container">
		<div class="col-md-3 col-md-offset-3 boxed-red" data-ng-click="dept()">
	 		<center><img src="images/economic.png"/ width="100px"></center><br />
	 		<span>Economic Services</span>
		</div>

	 	<div class="col-md-3 boxed-blue" data-ng-click="dept()">
			<center><img src="images/defence.png"/ width="100px"></center><br />
	 		<span>Defence Services</span> 
	 	</div>

	</div>
	
	<br />
	<div class="container">
       	<div class="col-md-2 col-md-offset-3 boxed-green" data-ng-click="dept()">
       		<center><img src="images/monitor.png"/ width="80px"></center><br /><br />
	 		<span>Debt Servicing</span>
		</div>

	
       	<div class="col-md-2  boxed-brown" data-ng-click="dept()">
       		<center><img src="images/special.png"/ width="80px"></center><br /><br />
	 		<span>Special Funds</span>
		</div>

	
		<div class="col-md-2  boxed-turquoise" data-ng-click="dept()">
	 		<center><img src="images/social.png"/ width="80px"></center><br /><br />
	 		<span>Social Services</span>
		</div>
	</div>
	
	<center>
        <div class="col-md-12 screenfont3">
            <br />
            Copyright &copy; 2013 by Interapptiv.co. All rights reserved
        </div>
        </center>
	</div>
</div>