<br>
<br>
<div class="container" id="screen2" data-ng-hide="screen2">
	<div class="container">
		<div class="col-md-6 col-md-offset-3 screen1all">
		<center>
			
			<img src="images/theSources.png" width="60px"/>
			<br />
			<div class="screenfont1"><b>THE NATIONAL BUDGET <br />– SOURCES</b><br /><br /></div>
			<div class="screenfont2">Kadalasan, kulang ang buwis, mga fees and charges, at ibang kita ng gobyerno para tustusan ang badyet.  Kaya tayo kailangan umutang sa loob at labas ng bansa.
			</div>
		<div class="col-md-12 screenfont3">
			<br /><br /><br /><br /><br /><br /><br /><br />
			Copyright &copy; 2013 by Interapptiv.co. All rights reserved
		</div>
		</center>
		</div> 

	</div>
</div>