<br>
<br>
<div class="container" id="screen1" data-ng-class="" data-ng-swipe-left="">
	<div class="container">
		<div class="col-md-6 col-md-offset-3 screen1all">
		<center>
			<br />
			<img src="images/theBudget.png" width="80px"/>
			<br /><br />
			<div class="screenfont1"><b>THE NATIONAL BUDGET <br />– AT A GLANCE</b><br /><br /></div>
			<div class="screenfont2">Ang Pambansang Badyet (National Budget) ay listahan na naglalahad ng salaping pinanggalingan (SOURCES) at pinaglalaanan (USES) ng pondo (FUNDS) ng ating gobyerno.
			</div>
		<div class="col-md-12 screenfont3">
			<br /><br /><br /><br /><br /><br /><br /><br />
			Copyright &copy; 2013 by Interapptiv.co. All rights reserved
		</div>
		</center>
		</div> 

	</div>
</div>