<br>
<br>
<div class="container" id="logoSplash" data-ng-hide="logoSplash" class="animate slideInLeft" data-ng-class="logoSplashStyle">
	<div class="container">
		<div class="col-md-12">
			<center>
				<img src="images/logo.png" />
				<div class="startfont1"><br />
					"Maayos Na Pag-gasta, <br />Dala Sa Bayan, <br />Pag-Asa."
				</div>
				<div class="col-md-12 startfont2">
					<br /><br /><br /><br /><br />
					Copyright &copy; 2013 by Interapptiv.co. All rights reserved
				</div>
			</center>
		</div> 
	</div>
</div>